---
import BaseLayout from './BaseLayout.astro';
import { ViewTransitions } from 'astro:transitions';
interface Props {
  title?: string;
  description?: string;
  date?: date;
  author?: string;
  image?: string;
  tags?: string[];
}
const { title, description, date, author, image, tags } = Astro.props;
---

<BaseLayout title={title}>
  <p>{date}</p>
  <p><em>{description}</em></p>
  <p>Written by {author}</p>
  /** In order to use props (values passed) from a .md blog post in your layout, like tags, you need to prefix the value with `` */
  <img src={image} width="300" />
    <div class="tag">
    {tags.map( tag => (
      <p class="tag"><a href={`/tags/${tag}`}> {tag} </a> </p>
    ))}
  </div>
  <slot />
</BaseLayout>

<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>
